.item {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 3px;

  &:not(:last-child) {
    margin-bottom: 5px;
  }
  
  &.success {
    background-color: var(--accent-color);
  }
}

.title {
  margin-right: auto;
  max-width: 80%;
  word-wrap: break-word;
}
